@{
    ViewBag.Title = "About";
}


<div class="vertical-align-container" id="about-background-container">
<div id="profile-container" class="clear-fix">
    
    <div id="head-1" class="clear-fix">
        <div class="picture-container">
        </div>
        <span>
            This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.
            This is Text.This is Text.This is Text.This is Text.This is Text.
            This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.
            This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.
        </span>
    </div>
    <div id="head-2" class="clear-fix">
        <div class="picture-container">

        </div>
        <span>
            This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.
            This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.
            This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.
            This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.This is Text.
        </span>
    </div>
    
</div>

</div>
<h3>@Html.ActionLink("Back", "Index",null, new { style = "display:block; text-align:center; margin-top: 2em;" })</h3>
