<div id="entrance-container">
<menu>
    <ul>
        <li>@Html.ActionLink("the show","show")</li>
        <li>@Html.ActionLink("ask questions","questions")</li>
        <li>@Html.ActionLink("about us","about")</li>
    </ul>
</menu>
    <img src="/images/AllEarsCropped.jpg"
</div>
