<div id="entrance-container">
<menu>
    <ul>
        <li>@Html.ActionLink("the show","show")</li>
        <li>@Html.ActionLink("your question","askquestion")</li>
        <li>@Html.ActionLink("about us","about")</li>
    </ul>
</menu>
    <img src="/images/AllEarsCropped.jpg" />
    <div id="slide-out"></div>
</div>

@section scripts {
    <script>
        $('#slide-out').click(function() { window.location.href = '@Url.Action("List", "Home")' })
    </script>
}