<div id="entrance-container">
<menu>
    <ul>
        <li>@Html.ActionLink("the show","show")</li>
        <li>@Html.ActionLink("ask questions","questions")</li>
        <li>@Html.ActionLink("about us","about")</li>
    </ul>
</menu>
    <img src="/images/AllEarsCropped.jpg" />
    <span id="slide-out">@Html.ActionLink("List","list")</span>
</div>

@section scripts {
    <script>
        $('#slide-out').hover(function () { $(this).show(); })
    </script>
}