@model List<QuestionModel>

@using AllEars.Models;

<div class="vertical-align-container">
    <ul id="questions-list">
        @foreach (QuestionModel q in Model)
        {
            <li>
                @q.timestamp.ToString()
                <br />
                @q.nickname
                <br />
                @q.content
            </li>
        }
    </ul>
</div>

@Html.ActionLink("Log Out", "LogOut", "Login")