@model List<QuestionModel>

@using AllEars.Models;

<ul id="questions-list">
@foreach (QuestionModel q in Model)
{
    <li>
    @q.timestamp.ToString()
        <br />
    @q.nickname
        <br />
    @q.body
    </li>
}
</ul>