@{
    ViewBag.Title = "Show";
}

<div class="vertical-align-container" id="show-background-container">
    <div id="show-container">
        <span>
            Looking for advice? Hosts Brandon and Mormei think they can help you with that. 
            All Ears is an advice radio program where the hosts read real questions from the UBC community and answer them live. 
            Other content includes interviewing students, consulting experts, and giving campus life advice. Submit your question at http://ask.fm/allearsubc
        </span>
    </div>
</div>