html, body {
    height:100%;
    padding:0;
    margin:0;  
}

#page-container {
    min-height:100%;
    width:100%;
    position:relative;
}

#push-bar {
        width: 100%;
        height: 10%;
    }

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1000px;
    
}

#body {
    padding-bottom: 1.5em;
    width: 100%;

}

#footer {
    position:absolute;
    width:100%;
    text-align:center;
    bottom:0;
    clear:both;
}

a, a:visited, a:link, a:hover {
    text-decoration:none;
    color:black;
}

h3 {
    padding: 0 1em;
}

input, textarea {
    width: 200px;
    display: inline-block;
    margin: 3px 0 3px 0 ;
    outline:none;
    border: 2px solid #e682ee;    
}

textarea {
    width: 100%;
}

input[type="submit"] {
    border: none;
    background-color: #e682ee;
    cursor: pointer;
    font-weight:bold;
    height: 2em;
    display:block;
    width:100%;
}
    input[type="submit"]:hover {
        box-shadow: 0 0 15px white;
    }

input:focus {
    outline: 0;
}


label {
    display: inline-block;
    font-weight: bold;
}

ol {
    list-style: none;
}

fieldset {
    width: 600px;
    margin: auto;
}

.vertical-align-container { 
    width: 100%;
    height: 600px;
    /*margin-top: 200px;*/
    clear:both;
    overflow:hidden;    
    /*position:absolute*/
    /*transform:translateY(-50%)*/
    position:absolute;
    top: 50%;
    margin-top: -300px;

}
   
 .clear-fix:after {
    content: "";
    clear: both;
    height: 0;
    display:block;
    visibility:hidden;
}

/*Index*/
    .vertical-align-container img {
        margin: 0 auto 0 auto;
        display:block;
        box-shadow:0 0 100px white;
    }

#image-container {
    background:  #FFC2FF;
}


menu {
    padding-bottom: 20px;
}

    menu ul {
        list-style: none;
        margin:auto;
        width: 50%;
        border-width: 0px;
    }

        menu ul li {
            display: inline-block;
            width: 32%;
            text-align:center;
            font-weight: bold;
            font-size: 1.3em;
        }

        menu ul li a:hover{
                color:#70644a !important;
                transition-duration: 1s;
                transition-property: color;
            }

            

#slide-out {
    height:20px;
    width:20px;
    background: white;
    margin:0 auto 0 auto;
}

    #slide-out:hover {
        cursor: pointer;
    }

/*About*/
#profile-container {
    width: 80%;
    margin:auto;
    max-width: 1200px;
    padding: 100px 0 100px 0;
    font-weight: bolder;
 
    

}

#head-1, #head-2 {
    width: 45%;
}

#head-1 {
    float: left;
}

#head-2 {
    float: right;
    padding-top: 40px;
}

.picture-container {
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid black;
    float:left;
    vertical-align: text-top;
    margin: 0 5px 3px 0;

}

#about-background-container {
    border-bottom: 10px solid #FFC2FF;
    box-shadow: 0 0 200px #FFC2FF;
       height: auto;
}

#about-background-container::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    opacity: 0.3;
    background:url(../Images/studio_background.jpg) no-repeat;
    background-size:cover;
}


/*Login*/
ol li {
    padding: 3px;
}
.validation-summary-errors ul {
    color: red;
    list-style:none;
}

/*AskQuestion*/
#question-container {
    padding: 50px 0 50px 0;
    width: 50%;
    margin: auto;
}

#question-background-container {
    background: #FFC2FF;
    box-shadow: 0 0 200px #FFC2FF;
    height: auto;
}

/*List*/
#questions-list {
    list-style: none;
    width: 50%;
    margin:auto;
}

    #questions-list li {
        padding-bottom: 10px;
    }


/*Show*/
#show-background-container {
    background: #FFC2FF;
    height:auto;
}

#show-container {
    width: 50%;
    padding: 20px 10px 20px 10px;
    margin: auto;
}
    

/*@media screen and (max-width: 300px) {
    ul {

    }
}*/

@media screen and (max-height:600px) {
    .vertical-align-container {
        position:relative;
        padding-top: 10px;
        transform:none;
        margin-top: 0;
    }
}

