html, body {
    width: 100%;
    min-width: 1000px;
    height:100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

#body {
    padding-bottom: 1.5em;
}

#footer {
    width:100%;
    position: absolute;
    bottom: 5px;
    align-content:center;
    text-align: center;
    height: 1.5em;
    font-size:0.8em;
}
a, a:visited, a:link, a:hover {
    text-decoration:none;
    color:black;
}

h3 {
    padding: 1em;
}

/*Index*/
#entrance-container {
    margin: auto;
    font-family: Arial;
    padding-top: 10%;
}

    #entrance-container img {
        margin:auto;
        display:block;
    }
menu {
    padding-bottom: 20px;
}

    menu ul {
        list-style: none;
        margin:auto;
        width: 30%;
        border-width: 0px;
    }

        menu ul li {
            display: inline-block;
            width: 32%;
            text-align:center;
            font-weight: bold;
            font-size: 1.3em;
        }

/*About*/
#profile-container {
    width: 80%;
    margin:auto;
}


#head-1, #head-2 {
    width: 45%;
}

#head-1 {
    float: left;
}

#head-2 {
    float: right;
    padding-top: 40px;
}

.picture-container {
    width: 100px;
    height: 100px;
    background: grey;
    float:left;
    vertical-align: text-top;
    margin: 0 5px 3px 0;

}

.clear-fix:after {
    content: " ";
    clear: both;
    height: 0;
}